/* 
html의 모든 tag는 전부 다 box model.이다. 
*/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: dimgray;
    margin: 0;
    height: 100%;
    width: 100%;
}

.go-to-top {
    position: fixed;
    bottom: 200px;
    right: 250px;
    text-align: center;
    background-color: #FFF6;
    padding: 10px;
    cursor: pointer;
}

.go-to-top p {
    padding: 0;
    margin-top: 0;
    font-weight: bold;
}

.container {
    background-color: white;
    /* margin-left: 300px;
    margin-right: 300px; */
    /* 상 우 좌 하 */
    /* margin: 10px 3px 20px 5px; */
    /* 상하 좌우 */
    /* margin: 0 300px; */
    margin: 0 auto;
    width: 600px;
    height: 100%;
}

/* 
div {
    background-color: white;
} 
*/

.Header {
    background-color: lightgray;
    /* width: 500px;
    border: 10px solid red;
    padding: 30px;
    margin: 100px; */
    width: 600px;
    position: fixed;
    z-index: 2;
    top: 0;
}

.header-logo {
    background-color: rgb(254, 213, 10);
    width: 100%;
    position: relative;
}

.header-logo-list-item:nth-child(2){
    position: absolute;
    right:45px;
}

.header-logo-list-item:last-child{
    position: absolute;
    right:10px;
}

/* .header-logo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-logo-list-item {
    margin: 0;
    padding: 0;
    display: inline-block; 
    float:right;
} */

/* .header-logo-list-item:nth-child(3){
    float:right;
}


.header-logo-list-item:nth-child(2){
    float:right;
}


.header-logo-list-item:nth-child(1){
    float:left;
} */
/* 
.header-logo-list-item {
    display: inline-block;
    width: 49%;
}

.header-logo-list-item:last-child {
    text-align: right;
} */



.clear-line {
    clear: both;
}

.header-logo-image {
    vertical-align: middle;
}

.header-category {
    background-color: whitesmoke;
    width: 100%;
}

.header-category-list {
    padding: 0;
    margin: 0;
    text-align: center;
}

.header-category-list-item {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 40%;
    padding: 13px;
}

.header-category-list-item:hover {
    font-weight: bold;
    color: #FF0000;
    text-decoration: underline;
}

.header-category-active-item {
    font-weight: bold;
    color: red;
    border-bottom: 3px solid red;
}

.Content {
    background-color: white;
    height: calc(100% - 98px - 83px - 54px - 5px);
    margin-top: 93px;
}

.content-article:first {
    margin-top: 0px;
    padding-top: 10px;
}

.content-article {
    background-color: white;
    /* padding: 10px; */
    padding-bottom: 10px;
    margin: 10px;
    /* margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-right: 10px; */
    margin-right: 0;
    /* border: 1px solid lightgray; */
    border-bottom: 1px solid lightgray;
    position: relative;
}

.content-article:last-child {
    border-bottom: none;
}

.best_article {
    background-color: #FF0000;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    color: #FFF;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    vertical-align: top;
}


.content-article-title {
    font-weight: normal;
    color: black;
    margin: 0;
}

.content-article-title-reply-count {
    color: coral;
    font-size: 15px;
}

.content-article-author-info-list {
    padding: 0;
    margin: 0;
}

.content-article-author {
    color: brown;
    display: inline-block;
}

.content-article-author::after {
    content: "|";
    padding-left: 10px;
    color: #dddddd;
}

.content-article-number {
    color: gray;
    display: inline-block;
}

.content-article-create-date {
    color: gray;
    display: inline-block;
}

.content-article-create-date::before {
    content: "|";
    padding-right: 10px;
    color: #dddddd;
}

.search-area {
    padding: 10px;
    text-align: center;
}

.search-form {
    background-color: #F001;
    padding: 10px;
    vertical-align: middle;
}

.search-input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #CCC;
    vertical-align: middle;

}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: #1a1af7;
    padding: 10px;
    border-radius: 3px;
    color: white;
    border: 0px;
    vertical-align: middle;
}

.paginator {
    background-color: lightgray;
    padding: 20px 0px;
    text-align: center;
}

.paginator-page-number {
    background-color: aliceblue;
    color: lightgray;
    padding: 10px;
    display: inline-block;
    border: 1px solid gray;
}

.paginator-active-page {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.paginator-list {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.Footer {
    background-color: black;
    color: gray;
}

.footer-button-area {
    text-align: center;
}

.footer-button-area-login-btn {
    background-color: darkgray;
    font-size: 20px;
}

.footer-copyright {
    text-align: center;
}

/* a{
    color: #333333;
    text-decoration: none;
    cursor: pointer;
} */

/*링크 스타일 변경*/
a:link {
    color: #333333;
    text-decoration: none;
}

/*방문한 적 있는 링크 스타일 변경*/
a:visited {
    color: #0000FF;
}

/*클릭할 때의 스타일 변경*/
a:active {
    color: #FF0000;
}

/*마우스 올렸을 때*/
a:hover {
    font-weight: bold;
}